# Configuration file for coverage.py

[run]
  branch = True
  source = scripta/

[report]
  fail_under = 93
  skip_covered = True

  exclude_lines =
    pragma: no cover
    if False:
    if __name__ == .__main__.:
    raise NotImplementedError
